<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Members Only Chat</title>
    <link rel="stylesheet" href="css/chat.css">
  </head>
  <body>
    <div id="heading-container">
      <h1>Chat</h1>
    </div>
    <div id="form-container">
      <form id="text-editor" action="/members-chat" method="POST">
        <input type="text" name="message" id="message-input-chat" placeholder="Type your message here" required>
        <button name="send-msg">Send</button>
      </form>
    </div>
    <div id="chat-container">
      <ul>
        <% messageBoard.forEach(function(message){ %>
          <div>
            <li><%= message.user %>: <%= message.text %> <span><%= message.date   %></span></li>
          </div>
        <% }) %>
      </ul>
    </div>
    <a href="logOut">Log Out</a>
	<script src="index.js"></script>
  </body>
</html>