*{
    margin: 0;
    padding: 0;
    background-color: rgb(55, 55, 182);
    color: white;
    list-style-type: none;
}
body{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    margin-top: 3rem;
    font-size: 2rem;
}
input{
    font-size: 1.2rem
}
button{
    font-size: 2rem;
}
#signup-error-p1{
    font-size: 1.2rem;
}
#chat-container{
    max-height: 40rem;
    overflow-x: hidden;
    overflow-y: auto;
}